### combine historical usage patterns with weather data in order to forecast bike rental demand in the Capital Bikeshare program in Washington, D.C.###

In [81]:
import pandas as pd 
import numpy as np


train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [53]:
print(train_df.columns.values)

['datetime' 'season' 'holiday' 'workingday' 'weather' 'temp' 'atemp'
 'humidity' 'windspeed' 'casual' 'registered' 'count']

In [54]:
train_df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [56]:
train_df.info()
train_df["datetime"] = pd.to_datetime(train_df["datetime"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.6 KB

In [6]:



train_df.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [ ]:
#pivoting

In [43]:
#sort by the work day 

train_df[['datetime',"holiday", 'workingday', 'weather', "count"]].groupby(["weather"],as_index=False).mean().sort_values(by='weather', ascending=False)

   weather   holiday  workingday       count
3        4  0.000000    1.000000  164.000000
2        3  0.017462    0.739232  118.846333
1        2  0.032463    0.683486  178.955540
0        1  0.028365    0.672831  205.236791

In [27]:
train_df["humidity"].max()

100

In [44]:
train_df[['datetime',"holiday", 'workingday',"temp" ,'humidity',"count"]].groupby(["temp"],as_index=False).mean().sort_values(by='temp', ascending=False)

     temp   holiday  workingday   humidity       count
48  41.00  0.000000    0.000000  19.000000  294.000000
47  39.36  0.000000    0.000000  30.000000  317.833333
46  38.54  0.000000    0.571429  33.714286  238.857143
45  37.72  0.088235    0.647059  34.235294  332.176471
44  36.90  0.065217    0.717391  35.065217  318.717391
43  36.08  0.000000    0.608696  36.913043  362.869565
42  35.26  0.039474    0.789474  41.697368  342.934211
41  34.44  0.012500    0.662500  42.275000  340.225000
40  33.62  0.030769    0.630769  44.500000  348.323077
39  32.80  0.039604    0.747525  47.405941  355.623762
38  31.98  0.040816    0.724490  51.928571  318.683673
37  31.16  0.033058    0.731405  54.074380  352.801653
36  30.34  0.046823    0.658863  57.826087  303.193980
35  29.52  0.022663    0.685552  60.716714  277.691218
34  28.70  0.028103    0.697892  64.042155  257.679157
33  27.88  0.075893    0.620536  67.821429  203.433036
32  27.06  0.053299    0.631980  68.736041  211.025381
31  26.24  0.019868    0.673289  65.743929  232.403974
30  25.42  0.009926    0.702233  65.980149  222.062035
29  24.60  0.010256    0.782051  63.720513  237.182051
28  23.78  0.014778    0.709360  64.502463  235.650246
27  22.96  0.022785    0.762025  65.458228  212.392405
26  22.14  0.024814    0.724566  67.598015  184.717122
25  21.32  0.027624    0.718232  65.718232  196.480663
24  20.50  0.012232    0.697248  61.238532  204.672783
23  19.68  0.017647    0.764706  64.611765  185.058824
22  18.86  0.012315    0.729064  68.352217  159.692118
21  18.04  0.015244    0.655488  63.899390  160.878049
20  17.22  0.028090    0.617978  63.174157  182.609551
19  16.40  0.042500    0.585000  63.787500  170.217500
18  15.58  0.035294    0.650980  61.862745  179.682353
17  14.76  0.017131    0.603854  64.629550  152.957173
16  13.94  0.026634    0.728814  59.329298  145.053269
15  13.12  0.022472    0.724719  60.227528  148.547753
14  12.30  0.023377    0.654545  60.922078  120.002597
13  11.48  0.038674    0.624309  59.475138  111.066298
12  10.66  0.039157    0.563253  61.493976   92.560241
11   9.84  0.027211    0.578231  65.074830   86.442177
10   9.02  0.008065    0.701613  64.467742   73.616935
9    8.20  0.026201    0.777293  57.646288   81.995633
8    7.38  0.094340    0.698113  55.339623   67.754717
7    6.56  0.061644    0.630137  61.198630   68.109589
6    5.74  0.046729    0.700935  55.803738   53.233645
5    4.92  0.050000    0.666667  53.216667   58.416667
4    4.10  0.090909    0.590909  51.363636   50.272727
3    3.28  0.000000    0.454545  54.727273   19.272727
2    2.46  0.000000    1.000000  45.800000   43.000000
1    1.64  0.000000    1.000000  41.500000   91.500000
0    0.82  0.000000    1.000000  39.857143   77.714286

In [35]:
train_df.temp.min()

0.82

In [47]:

train_df["TempBand"] = pd.cut(train_df["temp"],5)




train_df.head()

test_df = train_df.copy()

In [67]:

for s in test_df:
    s.loc[s["temp"]<= 15, "temp"]= 0
    s.loc[(s["temp"]> 15 & s["temp"]<=20 ),"temp"]= 1
    s.loc[(s["temp"]> 20 & s["temp"]<=20 ),"temp"]= 1

AttributeError: 'str' object has no attribute 'loc'

In [68]:
print (type(test_df["temp"]))

<class 'pandas.core.series.Series'>

0:Cold: <15c (<59f)
Cool: 15-20c (59-68f)
Comfortable: 20-30c (68-86f)
Warm: 30-38c (86-100f)
Hot: >38c (>100f)

In [72]:
def get_tempband(value):
    tempband = None
    if value <=15:
        tempband = 0
    elif value >15 and value <=20:
        tempband = 1
    elif value >20 and value <=30:
        tempband = 2
    elif value >30 and value <=38:
        tempband = 3
    elif value >38:
        tempband = 4
    
    return tempband

test_df["tempband"] = test_df.temp.apply(get_tempband)

In [86]:
train_df[train_df["temp"]<12].count

<bound method DataFrame.count of                   datetime  season  holiday  workingday  weather   temp  \
0      2011-01-01 00:00:00       1        0           0        1   9.84
1      2011-01-01 01:00:00       1        0           0        1   9.02
2      2011-01-01 02:00:00       1        0           0        1   9.02
3      2011-01-01 03:00:00       1        0           0        1   9.84
4      2011-01-01 04:00:00       1        0           0        1   9.84
5      2011-01-01 05:00:00       1        0           0        2   9.84
6      2011-01-01 06:00:00       1        0           0        1   9.02
7      2011-01-01 07:00:00       1        0           0        1   8.20
8      2011-01-01 08:00:00       1        0           0        1   9.84
44     2011-01-02 21:00:00       1        0           0        1  10.66
45     2011-01-02 22:00:00       1        0           0        1   9.84
46     2011-01-02 23:00:00       1        0           0        1   9.02
47     2011-01-03 00:00:00       1        0           1        1   9.02
48     2011-01-03 01:00:00       1        0           1        1   8.20
49     2011-01-03 04:00:00       1        0           1        1   6.56
50     2011-01-03 05:00:00       1        0           1        1   6.56
51     2011-01-03 06:00:00       1        0           1        1   5.74
52     2011-01-03 07:00:00       1        0           1        1   5.74
53     2011-01-03 08:00:00       1        0           1        1   5.74
54     2011-01-03 09:00:00       1        0           1        1   6.56
55     2011-01-03 10:00:00       1        0           1        1   7.38
56     2011-01-03 11:00:00       1        0           1        1   8.20
57     2011-01-03 12:00:00       1        0           1        1   9.02
58     2011-01-03 13:00:00       1        0           1        1   9.84
59     2011-01-03 14:00:00       1        0           1        1  10.66
60     2011-01-03 15:00:00       1        0           1        1  10.66
61     2011-01-03 16:00:00       1        0           1        1  10.66
62     2011-01-03 17:00:00       1        0           1        1   9.84
63     2011-01-03 18:00:00       1        0           1        1   9.84
64     2011-01-03 19:00:00       1        0           1        1   8.20
...                    ...     ...      ...         ...      ...    ...
10742  2012-12-14 00:00:00       4        0           1        1   9.02
10743  2012-12-14 01:00:00       4        0           1        1   9.02
10744  2012-12-14 02:00:00       4        0           1        1   9.02
10745  2012-12-14 03:00:00       4        0           1        1   8.20
10746  2012-12-14 04:00:00       4        0           1        1   8.20
10747  2012-12-14 05:00:00       4        0           1        1   8.20
10748  2012-12-14 06:00:00       4        0           1        1   6.56
10749  2012-12-14 07:00:00       4        0           1        1   8.20
10750  2012-12-14 08:00:00       4        0           1        1   8.20
10751  2012-12-14 09:00:00       4        0           1        1   9.84
10752  2012-12-14 10:00:00       4        0           1        1  10.66
10764  2012-12-14 22:00:00       4        0           1        1  11.48
10765  2012-12-14 23:00:00       4        0           1        1  11.48
10767  2012-12-15 01:00:00       4        0           0        2  10.66
10768  2012-12-15 02:00:00       4        0           0        1  10.66
10769  2012-12-15 03:00:00       4        0           0        2   9.84
10770  2012-12-15 04:00:00       4        0           0        2   9.84
10771  2012-12-15 05:00:00       4        0           0        2  10.66
10772  2012-12-15 06:00:00       4        0           0        2   9.84
10773  2012-12-15 07:00:00       4        0           0        2   9.84
10774  2012-12-15 08:00:00       4        0           0        2  10.66
10775  2012-12-15 09:00:00       4        0           0        1  10.66
10864  2012-12-19 02:00:00       4        0           1        1  11.48
10865  2012-12-19 03:00:00       4        0           1        1  10.66
10866  2012-12-19 04:00:00       4        0           1        1   9.84
10867  2012-12-19 05:00:00       4        0           1        1  10.66
10868  2012-12-19 06:00:00       4        0           1        1   9.84
10869  2012-12-19 07:00:00       4        0           1        1  10.66
10870  2012-12-19 08:00:00       4        0           1        1   9.84
10871  2012-12-19 09:00:00       4        0           1        1  11.48

        atemp  humidity  windspeed  casual  registered  count
0      14.395        81     0.0000       3          13     16
1      13.635        80     0.0000       8          32     40
2      13.635        80     0.0000       5          27     32
3      14.395        75     0.0000       3          10     13
4      14.395        75     0.0000       0           1      1
5      12.880        75     6.0032       0           1      1
6      13.635        80     0.0000       2           0      2
7      12.880        86     0.0000       1           2      3
8      14.395        75     0.0000       1           7      8
44     11.365        44    22.0028      11          20     31
45     10.605        44    19.9995       0           9      9
46     11.365        47    11.0014       0           8      8
47      9.850        44    23.9994       0           5      5
48      8.335        44    27.9993       0           2      2
49      6.820        47    26.0027       0           1      1
50      6.820        47    19.0012       0           3      3
51      5.305        50    26.0027       0          30     30
52      6.820        50    12.9980       1          63     64
53      6.060        50    19.0012       1         153    154
54      6.820        43    26.0027       7          81     88
55      8.335        43    16.9979      11          33     44
56      9.090        40    22.0028      10          41     51
57     10.605        35    19.9995      13          48     61
58     10.605        35    19.0012       8          53     61
59     12.120        30    19.0012      11          66     77
60     12.120        30    16.9979      14          58     72
61     12.120        30    16.9979       9          67     76
62     11.365        30    15.0013      11         146    157
63     12.880        32     7.0015       9         148    157
64     12.880        47     0.0000       8         102    110
...       ...       ...        ...     ...         ...    ...
10742  12.880        64     6.0032       4          43     47
10743  12.880        69     6.0032       0          26     26
10744  13.635        69     0.0000       3           6      9
10745  11.365        69     7.0015       0          12     12
10746  11.365        75     6.0032       1           9     10
10747  11.365        69     7.0015       0          34     34
10748   9.090        80     7.0015       1         112    113
10749  10.605        72     7.0015       3         305    308
10750  11.365        69     6.0032      13         623    636
10751  12.120        75     8.9981      13         330    343
10752  12.880        81    12.9980      28         162    190
10764  14.395        75     7.0015       4         134    138
10765  15.150        75     6.0032      11         123    134
10767  14.395        81     6.0032       9          86     95
10768  15.150        81     0.0000       6          63     69
10769  14.395        81     0.0000       5          18     23
10770  12.880        87     7.0015       1           5      6
10771  15.150        75     0.0000       0           3      3
10772  14.395        75     0.0000       0          11     11
10773  12.880        75     6.0032       1          47     48
10774  14.395        75     6.0032       8         111    119
10775  13.635        75     7.0015      17         203    220
10864  15.150        65     6.0032       1           2      3
10865  13.635        75     8.9981       0           5      5
10866  12.120        75     8.9981       1           6      7
10867  14.395        75     6.0032       2          29     31
10868  12.880        75     6.0032       3         109    112
10869  13.635        75     8.9981       3         360    363
10870  12.880        87     7.0015      13         665    678
10871  14.395        75     7.0015       8         309    317

[1772 rows x 12 columns]>

In [77]:

train_df["WindBand"] = pd.cut(train_df["windspeed"],4)

train_df["WindBand"].unique

<bound method Series.unique of 0        (-0.057, 14.249]
1        (-0.057, 14.249]
2        (-0.057, 14.249]
3        (-0.057, 14.249]
4        (-0.057, 14.249]
5        (-0.057, 14.249]
6        (-0.057, 14.249]
7        (-0.057, 14.249]
8        (-0.057, 14.249]
9        (-0.057, 14.249]
10       (14.249, 28.498]
11       (14.249, 28.498]
12       (14.249, 28.498]
13       (14.249, 28.498]
14       (14.249, 28.498]
15       (14.249, 28.498]
16       (14.249, 28.498]
17       (14.249, 28.498]
18       (14.249, 28.498]
19       (14.249, 28.498]
20       (14.249, 28.498]
21       (-0.057, 14.249]
22       (14.249, 28.498]
23       (14.249, 28.498]
24       (14.249, 28.498]
25       (14.249, 28.498]
26       (14.249, 28.498]
27       (-0.057, 14.249]
28       (-0.057, 14.249]
29       (14.249, 28.498]
               ...
10856    (14.249, 28.498]
10857    (14.249, 28.498]
10858    (14.249, 28.498]
10859    (14.249, 28.498]
10860    (-0.057, 14.249]
10861    (-0.057, 14.249]
10862    (-0.057, 14.249]
10863    (-0.057, 14.249]
10864    (-0.057, 14.249]
10865    (-0.057, 14.249]
10866    (-0.057, 14.249]
10867    (-0.057, 14.249]
10868    (-0.057, 14.249]
10869    (-0.057, 14.249]
10870    (-0.057, 14.249]
10871    (-0.057, 14.249]
10872    (-0.057, 14.249]
10873    (14.249, 28.498]
10874    (14.249, 28.498]
10875    (-0.057, 14.249]
10876    (-0.057, 14.249]
10877    (14.249, 28.498]
10878    (14.249, 28.498]
10879    (14.249, 28.498]
10880    (14.249, 28.498]
10881    (14.249, 28.498]
10882    (14.249, 28.498]
10883    (14.249, 28.498]
10884    (-0.057, 14.249]
10885    (-0.057, 14.249]
Name: WindBand, Length: 10886, dtype: category
Categories (4, interval[float64]): [(-0.057, 14.249] < (14.249, 28.498] < (28.498, 42.748] < (42.748, 56.997]]>

In [83]:
train_df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1