<h1> <u>Assignment 6 for CS 603</u></h1> 

<h3>Mohamed Fazmi Ahamed Fizer </h3>
<h3>Hari Charan Kaveri </h3>
<h3>Tharinda Embuldeniya </h3>

BL-Flicker-Images-Book.csv file

1) For the Title column, only keep the title part, remove all of the other parts. If the title is inside a
bracket, remove the bracket which encloses the title. If there are multiple â€¦, only keep the
words before the first one. If there are multiple periods (.), only keep words before the first one.

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("BL-Flickr-Images-Book.csv")

def clean_title(itm):
    if itm[0] == '[' and '.' in itm:
        return itm[1:itm.find('.')]
    elif itm[0] == '[':
        return itm[1:itm.find(']')]
    elif '.' in itm:
        return itm[:itm.find('.')]

df_title = pd.DataFrame(df, columns=['Title'])
df_title = df_title.applymap(clean_title)
df["Title"] = df_title    
    
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"The World in which I live, and my place in it","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

2) For the Author and Contributors columns, only keep the first author, remove all of the other
parts. If the author or the contributor has other auxiliary information, remove them. title is
inside a bracket, remove the bracket which encloses the title. If there are multiple â€¦, only keep
the words before the first one. If there are multiple periods (.), only keep words before the first
one. For all of the names, they should only have the first letter of the first, middle and last names
be capital letter, all of the remaining letters should be small case.

In [3]:
def clean_author(itm):
    if '-' in itm:
        return itm[:itm.find('-')]
    elif '|' in itm:
        return itm[:itm.find('|')]
    else:
        return itm

#author
df["Author"] = df["Author"].str.title()
df_author = pd.DataFrame(df, columns = ['Author'])
df_author = df_author.fillna("")
df_author = df_author.applymap(clean_author)
df["Author"] = df_author

#contributors
df["Contributors"] = df["Contributors"].str.title()
df_contrib = pd.DataFrame(df, columns = ['Contributors'])
df_contrib = df_contrib.fillna("")
df_contrib = df_contrib.applymap(clean_author)
df["Contributors"] = df_contrib

df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes,A. A.,"Forbes, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed,"A., A. A.","Blaze De Bury, Marie Pauline Rose",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger,"A., A. A.","Blaze De Bury, Marie Pauline Rose",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"The World in which I live, and my place in it","A., E. S.","Broome, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

3) After cleaning the above columns, save the cleaned data back into a new .csv file.

In [4]:
df.to_csv('CLEANED-BL-Flickr-Images-Book.csv')

<p></p>

olympics.csv file

1) Drop all of the countries which donâ€™t have gold medals, and save the cleaned one back into a new .csv file.

In [5]:
df = pd.read_csv("olympics.csv", skiprows=1)
column_names = ["Country", "Summer", "Gold", "Silver", "Bronze", "Total", \
                "Winter", "Gold", "Silver", "Bronze", "Total", \
                "Games",  "Gold (total)", "Silver (total)", "Bronze (total)", "Combined total"]
df.columns = column_names
df2 = df[df["Gold (total)"] != 0]

df2.to_csv('olympics-only-gold.csv')

2) Output the top five gold medal countries.

In [6]:
df2.sort_values(by=["Gold (total)"], ascending=False)[:5]

,Country,Summer,Gold,Silver,Bronze,Total,Winter,Gold,Silver,Bronze,Total,Games,Gold (total),Silver (total),Bronze (total),Combined total
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
106,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
44,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
49,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806

3) Output the countries that have all three kinds of medals for both summer and winter games.

In [14]:
df2 = df2.replace(0, np.nan)
df2 = df2.dropna(how='any', axis=0)
df3 =df2.iloc[:,1:].astype(int)
df2.iloc[:,1:] = df3.iloc[:,:]
df2.head()

,Country,Summer,Gold,Silver,Bronze,Total,Winter,Gold,Silver,Bronze,Total,Games,Gold (total),Silver (total),Bronze (total),Combined total
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220

4) You may use previous unit learned concepts on multi-level indexing, pivoting, stacking to rearrange the original .csv file to convert summer and winter as secondary level index within the country index, and then generate a new .csv file which will have country as the primary index, then summer and winter as secondary index, and columns of gold, silver and bronze medals.

In [26]:
countries = []

for x in df["Country"][:]:
    if " (" in x:
        x = x[:x.index(" (")]
   
    countries.append(x)
    countries.append(x)
season = []

for i in range(int(len(countries)/2)):
    season.append("Summer")
    season.append("Winter")
    

tuples = list(zip(*[countries, season]))

index = pd.MultiIndex.from_tuples(tuples, names=["Country", "Season"])


data_summer = df.iloc[:,2:6]
data_winter = df.iloc[:,7:11]


data_winter.columns = list(data_summer.columns.values)

stacked = pd.DataFrame()

for i in range(len(data_summer)):
    stacked = stacked.append(data_summer[i:i+1], ignore_index=True)
    stacked = stacked.append(data_winter[i:i+1], ignore_index=True)
    

final = pd.DataFrame(data=stacked.iloc[:,:].values, columns = list(data_summer.columns.values), index=index)

final

                                         Gold  Silver  Bronze  Total
Country                          Season
Afghanistan                      Summer     0       0       2      2
                                 Winter     0       0       0      0
Algeria                          Summer     5       2       8     15
                                 Winter     0       0       0      0
Argentina                        Summer    18      24      28     70
                                 Winter     0       0       0      0
Armenia                          Summer     1       2       9     12
                                 Winter     0       0       0      0
Australasia                      Summer     3       4       5     12
                                 Winter     0       0       0      0
Australia                        Summer   139     152     177    468
                                 Winter     5       3       4     12
Austria                          Summer    18      33      35     86
                                 Winter    59      78      81    218
Azerbaijan                       Summer     6       5      15     26
                                 Winter     0       0       0      0
Bahamas                          Summer     5       2       5     12
                                 Winter     0       0       0      0
Bahrain                          Summer     0       0       1      1
                                 Winter     0       0       0      0
Barbados                         Summer     0       0       1      1
                                 Winter     0       0       0      0
Belarus                          Summer    12      24      39     75
                                 Winter     6       4       5     15
Belgium                          Summer    37      52      53    142
                                 Winter     1       1       3      5
Bermuda                          Summer     0       0       1      1
                                 Winter     0       0       0      0
Bohemia                          Summer     0       1       3      4
                                 Winter     0       0       0      0
...                                       ...     ...     ...    ...
Uganda                           Summer     2       3       2      7
                                 Winter     0       0       0      0
Ukraine                          Summer    33      27      55    115
                                 Winter     2       1       4      7
United Arab Emirates             Summer     1       0       0      1
                                 Winter     0       0       0      0
United States                    Summer   976     757     666   2399
                                 Winter    96     102      84    282
Uruguay                          Summer     2       2       6     10
                                 Winter     0       0       0      0
Uzbekistan                       Summer     5       5      10     20
                                 Winter     1       0       0      1
Venezuela                        Summer     2       2       8     12
                                 Winter     0       0       0      0
Vietnam                          Summer     0       2       0      2
                                 Winter     0       0       0      0
Virgin Islands                   Summer     0       1       0      1
                                 Winter     0       0       0      0
Yugoslavia                       Summer    26      29      28     83
                                 Winter     0       3       1      4
Independent Olympic Participants Summer     0       1       2      3
                                 Winter     0       0       0      0
Zambia                           Summer     0       1       1      2
                                 Winter     0       0       0      0
Zimbabwe                         Summer     3       4       1      8
                                 Winter     0       0       0      0
Mixed team                       Summer     8       5       4     17
                                 Winter     0       0       0      0
Totals                           Summer  4809    4775    5130  14714
                                 Winter   959     958     948   2865

[294 rows x 4 columns]

In [27]:
final.to_csv('olympics-breakdown.csv')

In [28]:
test = pd.read_csv('olympics-breakdown.csv')

In [29]:
test

                              Country  Season  Gold  Silver  Bronze  Total
0                         Afghanistan  Summer     0       0       2      2
1                         Afghanistan  Winter     0       0       0      0
2                             Algeria  Summer     5       2       8     15
3                             Algeria  Winter     0       0       0      0
4                           Argentina  Summer    18      24      28     70
5                           Argentina  Winter     0       0       0      0
6                             Armenia  Summer     1       2       9     12
7                             Armenia  Winter     0       0       0      0
8                         Australasia  Summer     3       4       5     12
9                         Australasia  Winter     0       0       0      0
10                          Australia  Summer   139     152     177    468
11                          Australia  Winter     5       3       4     12
12                            Austria  Summer    18      33      35     86
13                            Austria  Winter    59      78      81    218
14                         Azerbaijan  Summer     6       5      15     26
15                         Azerbaijan  Winter     0       0       0      0
16                            Bahamas  Summer     5       2       5     12
17                            Bahamas  Winter     0       0       0      0
18                            Bahrain  Summer     0       0       1      1
19                            Bahrain  Winter     0       0       0      0
20                           Barbados  Summer     0       0       1      1
21                           Barbados  Winter     0       0       0      0
22                            Belarus  Summer    12      24      39     75
23                            Belarus  Winter     6       4       5     15
24                            Belgium  Summer    37      52      53    142
25                            Belgium  Winter     1       1       3      5
26                            Bermuda  Summer     0       0       1      1
27                            Bermuda  Winter     0       0       0      0
28                            Bohemia  Summer     0       1       3      4
29                            Bohemia  Winter     0       0       0      0
..                                ...     ...   ...     ...     ...    ...
264                            Uganda  Summer     2       3       2      7
265                            Uganda  Winter     0       0       0      0
266                           Ukraine  Summer    33      27      55    115
267                           Ukraine  Winter     2       1       4      7
268              United Arab Emirates  Summer     1       0       0      1
269              United Arab Emirates  Winter     0       0       0      0
270                     United States  Summer   976     757     666   2399
271                     United States  Winter    96     102      84    282
272                           Uruguay  Summer     2       2       6     10
273                           Uruguay  Winter     0       0       0      0
274                        Uzbekistan  Summer     5       5      10     20
275                        Uzbekistan  Winter     1       0       0      1
276                         Venezuela  Summer     2       2       8     12
277                         Venezuela  Winter     0       0       0      0
278                           Vietnam  Summer     0       2       0      2
279                           Vietnam  Winter     0       0       0      0
280                    Virgin Islands  Summer     0       1       0      1
281                    Virgin Islands  Winter     0       0       0      0
282                        Yugoslavia  Summer    26      29      28     83
283                        Yugoslavia  Winter     0       3       1      4
284  Independent Olympic Participants  Summer     0       1       2      3
285  Independent Olympic Participants  Winter     0       0       0      0
286                            Zambia  Summer     0       1       1      2
287                            Zambia  Winter     0       0       0      0
288                          Zimbabwe  Summer     3       4       1      8
289                          Zimbabwe  Winter     0       0       0      0
290                        Mixed team  Summer     8       5       4     17
291                        Mixed team  Winter     0       0       0      0
292                            Totals  Summer  4809    4775    5130  14714
293                            Totals  Winter   959     958     948   2865

[294 rows x 6 columns]

In [30]:
test.set_index(["Country", "Season"])

                                         Gold  Silver  Bronze  Total
Country                          Season
Afghanistan                      Summer     0       0       2      2
                                 Winter     0       0       0      0
Algeria                          Summer     5       2       8     15
                                 Winter     0       0       0      0
Argentina                        Summer    18      24      28     70
                                 Winter     0       0       0      0
Armenia                          Summer     1       2       9     12
                                 Winter     0       0       0      0
Australasia                      Summer     3       4       5     12
                                 Winter     0       0       0      0
Australia                        Summer   139     152     177    468
                                 Winter     5       3       4     12
Austria                          Summer    18      33      35     86
                                 Winter    59      78      81    218
Azerbaijan                       Summer     6       5      15     26
                                 Winter     0       0       0      0
Bahamas                          Summer     5       2       5     12
                                 Winter     0       0       0      0
Bahrain                          Summer     0       0       1      1
                                 Winter     0       0       0      0
Barbados                         Summer     0       0       1      1
                                 Winter     0       0       0      0
Belarus                          Summer    12      24      39     75
                                 Winter     6       4       5     15
Belgium                          Summer    37      52      53    142
                                 Winter     1       1       3      5
Bermuda                          Summer     0       0       1      1
                                 Winter     0       0       0      0
Bohemia                          Summer     0       1       3      4
                                 Winter     0       0       0      0
...                                       ...     ...     ...    ...
Uganda                           Summer     2       3       2      7
                                 Winter     0       0       0      0
Ukraine                          Summer    33      27      55    115
                                 Winter     2       1       4      7
United Arab Emirates             Summer     1       0       0      1
                                 Winter     0       0       0      0
United States                    Summer   976     757     666   2399
                                 Winter    96     102      84    282
Uruguay                          Summer     2       2       6     10
                                 Winter     0       0       0      0
Uzbekistan                       Summer     5       5      10     20
                                 Winter     1       0       0      1
Venezuela                        Summer     2       2       8     12
                                 Winter     0       0       0      0
Vietnam                          Summer     0       2       0      2
                                 Winter     0       0       0      0
Virgin Islands                   Summer     0       1       0      1
                                 Winter     0       0       0      0
Yugoslavia                       Summer    26      29      28     83
                                 Winter     0       3       1      4
Independent Olympic Participants Summer     0       1       2      3
                                 Winter     0       0       0      0
Zambia                           Summer     0       1       1      2
                                 Winter     0       0       0      0
Zimbabwe                         Summer     3       4       1      8
                                 Winter     0       0       0      0
Mixed team                       Summer     8       5       4     17
                                 Winter     0       0       0      0
Totals                           Summer  4809    4775    5130  14714
                                 Winter   959     958     948   2865

[294 rows x 4 columns]

In [31]:
tuples

[('Afghanistan', 'Summer'),
 ('Afghanistan', 'Winter'),
 ('Algeria', 'Summer'),
 ('Algeria', 'Winter'),
 ('Argentina', 'Summer'),
 ('Argentina', 'Winter'),
 ('Armenia', 'Summer'),
 ('Armenia', 'Winter'),
 ('Australasia', 'Summer'),
 ('Australasia', 'Winter'),
 ('Australia', 'Summer'),
 ('Australia', 'Winter'),
 ('Austria', 'Summer'),
 ('Austria', 'Winter'),
 ('Azerbaijan', 'Summer'),
 ('Azerbaijan', 'Winter'),
 ('Bahamas', 'Summer'),
 ('Bahamas', 'Winter'),
 ('Bahrain', 'Summer'),
 ('Bahrain', 'Winter'),
 ('Barbados', 'Summer'),
 ('Barbados', 'Winter'),
 ('Belarus', 'Summer'),
 ('Belarus', 'Winter'),
 ('Belgium', 'Summer'),
 ('Belgium', 'Winter'),
 ('Bermuda', 'Summer'),
 ('Bermuda', 'Winter'),
 ('Bohemia', 'Summer'),
 ('Bohemia', 'Winter'),
 ('Botswana', 'Summer'),
 ('Botswana', 'Winter'),
 ('Brazil', 'Summer'),
 ('Brazil', 'Winter'),
 ('British West Indies', 'Summer'),
 ('British West Indies', 'Winter'),
 ('Bulgaria', 'Summer'),
 ('Bulgaria', 'Winter'),
 ('Burundi', 'Summer'),
 ('Burundi', 'Winter'),
 ('Cameroon', 'Summer'),
 ('Cameroon', 'Winter'),
 ('Canada', 'Summer'),
 ('Canada', 'Winter'),
 ('Chile', 'Summer'),
 ('Chile', 'Winter'),
 ('China', 'Summer'),
 ('China', 'Winter'),
 ('Colombia', 'Summer'),
 ('Colombia', 'Winter'),
 ('Costa Rica', 'Summer'),
 ('Costa Rica', 'Winter'),
 ('Ivory Coast', 'Summer'),
 ('Ivory Coast', 'Winter'),
 ('Croatia', 'Summer'),
 ('Croatia', 'Winter'),
 ('Cuba', 'Summer'),
 ('Cuba', 'Winter'),
 ('Cyprus', 'Summer'),
 ('Cyprus', 'Winter'),
 ('Czech Republic', 'Summer'),
 ('Czech Republic', 'Winter'),
 ('Czechoslovakia', 'Summer'),
 ('Czechoslovakia', 'Winter'),
 ('Denmark', 'Summer'),
 ('Denmark', 'Winter'),
 ('Djibouti', 'Summer'),
 ('Djibouti', 'Winter'),
 ('Dominican Republic', 'Summer'),
 ('Dominican Republic', 'Winter'),
 ('Ecuador', 'Summer'),
 ('Ecuador', 'Winter'),
 ('Egypt', 'Summer'),
 ('Egypt', 'Winter'),
 ('Eritrea', 'Summer'),
 ('Eritrea', 'Winter'),
 ('Estonia', 'Summer'),
 ('Estonia', 'Winter'),
 ('Ethiopia', 'Summer'),
 ('Ethiopia', 'Winter'),
 ('Finland', 'Summer'),
 ('Finland', 'Winter'),
 ('France', 'Summer'),
 ('France', 'Winter'),
 ('Gabon', 'Summer'),
 ('Gabon', 'Winter'),
 ('Georgia', 'Summer'),
 ('Georgia', 'Winter'),
 ('Germany', 'Summer'),
 ('Germany', 'Winter'),
 ('United Team of Germany', 'Summer'),
 ('United Team of Germany', 'Winter'),
 ('East Germany', 'Summer'),
 ('East Germany', 'Winter'),
 ('West Germany', 'Summer'),
 ('West Germany', 'Winter'),
 ('Ghana', 'Summer'),
 ('Ghana', 'Winter'),
 ('Great Britain', 'Summer'),
 ('Great Britain', 'Winter'),
 ('Greece', 'Summer'),
 ('Greece', 'Winter'),
 ('Grenada', 'Summer'),
 ('Grenada', 'Winter'),
 ('Guatemala', 'Summer'),
 ('Guatemala', 'Winter'),
 ('Guyana', 'Summer'),
 ('Guyana', 'Winter'),
 ('Haiti', 'Summer'),
 ('Haiti', 'Winter'),
 ('Hong Kong', 'Summer'),
 ('Hong Kong', 'Winter'),
 ('Hungary', 'Summer'),
 ('Hungary', 'Winter'),
 ('Iceland', 'Summer'),
 ('Iceland', 'Winter'),
 ('India', 'Summer'),
 ('India', 'Winter'),
 ('Indonesia', 'Summer'),
 ('Indonesia', 'Winter'),
 ('Iran', 'Summer'),
 ('Iran', 'Winter'),
 ('Iraq', 'Summer'),
 ('Iraq', 'Winter'),
 ('Ireland', 'Summer'),
 ('Ireland', 'Winter'),
 ('Israel', 'Summer'),
 ('Israel', 'Winter'),
 ('Italy', 'Summer'),
 ('Italy', 'Winter'),
 ('Jamaica', 'Summer'),
 ('Jamaica', 'Winter'),
 ('Japan', 'Summer'),
 ('Japan', 'Winter'),
 ('Kazakhstan', 'Summer'),
 ('Kazakhstan', 'Winter'),
 ('Kenya', 'Summer'),
 ('Kenya', 'Winter'),
 ('North Korea', 'Summer'),
 ('North Korea', 'Winter'),
 ('South Korea', 'Summer'),
 ('South Korea', 'Winter'),
 ('Kuwait', 'Summer'),
 ('Kuwait', 'Winter'),
 ('Kyrgyzstan', 'Summer'),
 ('Kyrgyzstan', 'Winter'),
 ('Latvia', 'Summer'),
 ('Latvia', 'Winter'),
 ('Lebanon', 'Summer'),
 ('Lebanon', 'Winter'),
 ('Liechtenstein', 'Summer'),
 ('Liechtenstein', 'Winter'),
 ('Lithuania', 'Summer'),
 ('Lithuania', 'Winter'),
 ('Luxembourg', 'Summer'),
 ('Luxembourg', 'Winter'),
 ('Macedonia', 'Summer'),
 ('Macedonia', 'Winter'),
 ('Malaysia', 'Summer'),
 ('Malaysia', 'Winter'),
 ('Mauritius', 'Summer'),
 ('Mauritius', 'Winter'),
 ('Mexico', 'Summer'),
 ('Mexico', 'Winter'),
 ('Moldova', 'Summer'),
 ('Moldova', 'Winter'),
 ('Mongolia', 'Summer'),
 ('Mongolia', 'Winter'),
 ('Montenegro', 'Summer'),
 ('Montenegro', 'Winter'),
 ('Morocco', 'Summer'),
 ('Morocco', 'Winter'),
 ('Mozambique', 'Summer'),
 ('Mozambique', 'Winter'),
 ('Namibia', 'Summer'),
 ('Namibia', 'Winter'),
 ('Netherlands', 'Summer'),
 ('Netherlands', 'Winter'),
 ('Netherlands Antilles', 'Summer'),
 ('Netherlands Antilles', 'Winter'),
 ('New Zealand', 'Summer'),
 ('New Zealand', 'Winter'),
 ('Niger', 'Summer'),
 ('Niger', 'Winter'),
 ('Nigeria', 'Summer'),
 ('Nigeria', 'Winter'),
 ('Norway', 'Summer'),
 ('Norway', 'Winter'),
 ('Pakistan', 'Summer'),
 ('Pakistan', 'Winter'),
 ('Panama', 'Summer'),
 ('Panama', 'Winter'),
 ('Paraguay', 'Summer'),
 ('Paraguay', 'Winter'),
 ('Peru', 'Summer'),
 ('Peru', 'Winter'),
 ('Philippines', 'Summer'),
 ('Philippines', 'Winter'),
 ('Poland', 'Summer'),
 ('Poland', 'Winter'),
 ('Portugal', 'Summer'),
 ('Portugal', 'Winter'),
 ('Puerto Rico', 'Summer'),
 ('Puerto Rico', 'Winter'),
 ('Qatar', 'Summer'),
 ('Qatar', 'Winter'),
 ('Romania', 'Summer'),
 ('Romania', 'Winter'),
 ('Russia', 'Summer'),
 ('Russia', 'Winter'),
 ('Russian Empire', 'Summer'),
 ('Russian Empire', 'Winter'),
 ('Soviet Union', 'Summer'),
 ('Soviet Union', 'Winter'),
 ('Unified Team', 'Summer'),
 ('Unified Team', 'Winter'),
 ('Saudi Arabia', 'Summer'),
 ('Saudi Arabia', 'Winter'),
 ('Senegal', 'Summer'),
 ('Senegal', 'Winter'),
 ('Serbia', 'Summer'),
 ('Serbia', 'Winter'),
 ('Serbia and Montenegro', 'Summer'),
 ('Serbia and Montenegro', 'Winter'),
 ('Singapore', 'Summer'),
 ('Singapore', 'Winter'),
 ('Slovakia', 'Summer'),
 ('Slovakia', 'Winter'),
 ('Slovenia', 'Summer'),
 ('Slovenia', 'Winter'),
 ('South Africa', 'Summer'),
 ('South Africa', 'Winter'),
 ('Spain', 'Summer'),
 ('Spain', 'Winter'),
 ('Sri Lanka', 'Summer'),
 ('Sri Lanka', 'Winter'),
 ('Sudan', 'Summer'),
 ('Sudan', 'Winter'),
 ('Suriname', 'Summer'),
 ('Suriname', 'Winter'),
 ('Sweden', 'Summer'),
 ('Sweden', 'Winter'),
 ('Switzerland', 'Summer'),
 ('Switzerland', 'Winter'),
 ('Syria', 'Summer'),
 ('Syria', 'Winter'),
 ('Chinese Taipei', 'Summer'),
 ('Chinese Taipei', 'Winter'),
 ('Tajikistan', 'Summer'),
 ('Tajikistan', 'Winter'),
 ('Tanzania', 'Summer'),
 ('Tanzania', 'Winter'),
 ('Thailand', 'Summer'),
 ('Thailand', 'Winter'),
 ('Togo', 'Summer'),
 ('Togo', 'Winter'),
 ('Tonga', 'Summer'),
 ('Tonga', 'Winter'),
 ('Trinidad and Tobago', 'Summer'),
 ('Trinidad and Tobago', 'Winter'),
 ('Tunisia', 'Summer'),
 ('Tunisia', 'Winter'),
 ('Turkey', 'Summer'),
 ('Turkey', 'Winter'),
 ('Uganda', 'Summer'),
 ('Uganda', 'Winter'),
 ('Ukraine', 'Summer'),
 ('Ukraine', 'Winter'),
 ('United Arab Emirates', 'Summer'),
 ('United Arab Emirates', 'Winter'),
 ('United States', 'Summer'),
 ('United States', 'Winter'),
 ('Uruguay', 'Summer'),
 ('Uruguay', 'Winter'),
 ('Uzbekistan', 'Summer'),
 ('Uzbekistan', 'Winter'),
 ('Venezuela', 'Summer'),
 ('Venezuela', 'Winter'),
 ('Vietnam', 'Summer'),
 ('Vietnam', 'Winter'),
 ('Virgin Islands', 'Summer'),
 ('Virgin Islands', 'Winter'),
 ('Yugoslavia', 'Summer'),
 ('Yugoslavia', 'Winter'),
 ('Independent Olympic Participants', 'Summer'),
 ('Independent Olympic Participants', 'Winter'),
 ('Zambia', 'Summer'),
 ('Zambia', 'Winter'),
 ('Zimbabwe', 'Summer'),
 ('Zimbabwe', 'Winter'),
 ('Mixed team', 'Summer'),
 ('Mixed team', 'Winter'),
 ('Totals', 'Summer'),
 ('Totals', 'Winter')]

In [32]:
stacked

     Gold  Silver  Bronze  Total
0       0       0       2      2
1       0       0       0      0
2       5       2       8     15
3       0       0       0      0
4      18      24      28     70
5       0       0       0      0
6       1       2       9     12
7       0       0       0      0
8       3       4       5     12
9       0       0       0      0
10    139     152     177    468
11      5       3       4     12
12     18      33      35     86
13     59      78      81    218
14      6       5      15     26
15      0       0       0      0
16      5       2       5     12
17      0       0       0      0
18      0       0       1      1
19      0       0       0      0
20      0       0       1      1
21      0       0       0      0
22     12      24      39     75
23      6       4       5     15
24     37      52      53    142
25      1       1       3      5
26      0       0       1      1
27      0       0       0      0
28      0       1       3      4
29      0       0       0      0
..    ...     ...     ...    ...
264     2       3       2      7
265     0       0       0      0
266    33      27      55    115
267     2       1       4      7
268     1       0       0      1
269     0       0       0      0
270   976     757     666   2399
271    96     102      84    282
272     2       2       6     10
273     0       0       0      0
274     5       5      10     20
275     1       0       0      1
276     2       2       8     12
277     0       0       0      0
278     0       2       0      2
279     0       0       0      0
280     0       1       0      1
281     0       0       0      0
282    26      29      28     83
283     0       3       1      4
284     0       1       2      3
285     0       0       0      0
286     0       1       1      2
287     0       0       0      0
288     3       4       1      8
289     0       0       0      0
290     8       5       4     17
291     0       0       0      0
292  4809    4775    5130  14714
293   959     958     948   2865

[294 rows x 4 columns]